@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .clip-path-triangle {
    clip-path: polygon(0 0, 100% 0, 50% 100%);
  }
  
  .perspective-1000 {
    perspective: 1000px;
  }
  
  .rotate-x-12 {
    transform: rotateX(12deg);
  }
  
  .animation-delay-2000 {
    animation-delay: 2s;
  }
}

@keyframes blob {
  0% {
    transform: translate(0px, 0px) scale(1);
  }
  33% {
    transform: translate(30px, -50px) scale(1.1);
  }
  66% {
    transform: translate(-20px, 20px) scale(0.9);
  }
  100% {
    transform: translate(0px, 0px) scale(1);
  }
}

.animate-blob {
  animation: blob 7s infinite;
}
